@use "../globals/variables" as *;
header {
  & nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
    & ul {
      display: flex;
      list-style: none;
      gap: 3rem;
      cursor: pointer;
      font-size: 1.7rem;
    }
  }
}
.mobile-menu {
  display: none;
}
@media (max-width: $mobile) {
  header nav > ul {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}
@media (max-width: $tablet) {
  header nav > ul {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}

.hamburger-menu {
  display: flex;
  color: $so-dark-blue;
  font-size: 1.8rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 100%;
  opacity: 0;
  transition: left 500ms ease;
  // width: 70%;
  .mobile-menu-close {
    display: flex;
    justify-content: end;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-bottom: 5rem;
  }
  & nav {
    flex: 3;
    display: flex;
    margin-left: 2rem;
    flex-direction: column;
    gap: 2rem;
    cursor: pointer;
  }
}
.open {
  opacity: 1;
  left: 0;
}
.hamburger-menu-wrapper {
  background-color: $off-white;
  flex: 3;
}
.overlay {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (min-width: $mobile) {
  .hamburger-menu {
    display: none;
  }
}

@media (max-width: $tablet) {
  .hamburger-menu {
    display: flex;
  }
}
